<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD on IPL </title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/iplcss.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-fluid font pt-5 mt-3">
    {% block content %}
    {% endblock content %}
    </div>
<script src=" {% static "js/jquery.js" %} "></script>
<script src=" {% static "js/popper.js" %} "></script>
<script src=" {% static "js/bootstrap.js" %} "></script>
</body>
</html>