{% extends 'iplapp/base.html' %}
{% block content %}
<br><br>
<h1 class="text-center alert alert-denger">WELCOME TO HOME PAGE OF IPL 2021</h1>
<h2 class="text-center text-white alert alert-denger">The only website for every IPL 2021 info</h2>

<div class="container" align="center">
  <p class="lead mt-5 pt-5">
  <a class="btn btn-primary btn-lg mt-5" href="add/" role="button">Click to add team info</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="btn btn-primary btn-lg mt-5" href="display/" role="button">Click to display team details</a>
</p>
</div>
{% endblock content %}



